<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>
<body>
    <h1>Editing Task</h1>

    <form method="post">
        <label for="task_name">Task Name: </label>
        <input type="text" name="task_name" id="task_name" required>

        <label for="description">Description</label>
        <input type="text" name="description" id="description" required>

        <label for="schedule_time">Schedule Time: </label>
        <input type="time" name="schedule_time" id="schedule_time" required>

        <button type="submit">Update Task</button>

    </form>
    
</body>
</html>